<div class="container">
  <div class="nav">
    <%if user_signed_in? %>
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
  </div>
  <% @users.each do |user| %>
  <%= link_to user_path(user) do %>
    <div class="user-container">
      <div class="user-image"> <%= image_tag user.photo %> </div>
      <div class="user-info">
        <h2 class="user-name"> <%= user.name %> </h2>
        <span class="post-counter"> Post Counter: <%= user.posts_counter %> </span>
      </div>
    </div>
  <% end %>
  <% end %>
</div>