<div class="container">
  <div class="post-container">
    <div class="post-title"> <%= @post.title %> </div>
    <div class="counters-container">
        <span>Comments: <%= @post.comments.length %> </span>
        <span>Likes: <%= @post.likes.length%> </span>
      </div>
    <p><%= @post.text %></p>
    </div>
    <% @post.comments.includes([:author]).each do |comment|%>
      <div>
        <span> <%= comment.author.name %></span> : <span> <%= comment.text %> </span>
        <% if can? :destroy, comment %>
            <%= form_with model: comment, url: user_post_comment_path(@user, @post, comment), method: :delete do |form| %>
               <%= form.submit "Delete comment", class: "see" %>
            <% end %>
         <% end %>
      </div>
    <% end %>
    <%= render "comments/comment" %>
    <div class="likes">
      <%= render "likes/like" %>
    </div>
  </div>
</div>